body {
	background-color: #ffffff;
	color: $general_text-color;
	font-family: 'Roboto', sans-serif;
}
.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}
img {
	max-width: 100%;
	max-height: 100%;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 30px;
	line-height: 32px;
	font-weight: bold;
	margin-right: auto;
	&.--color_white {
		color: #ffffff;
	}
}
.description {
	font-size: 20px;
	line-height: 32px;
	color: #000000;
	&.--padding_24 {
		padding: 0 24px;
	}
	&.--color_white {
		color: #ffffff;
	}
	&.--minheight_60 {
		min-height: 60px;
	}
}