.select {
  &_wrapper {
    position: relative;
    display: inline-block;
    padding-right: 17px;

    &:after {
      content: '';
      position: absolute;
      right: 17px;
      top: 2px;
      transform: rotate(-45deg);
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
      width: 8px;
      height: 8px;
    }
  }
  &_item {
    appearance: none;
    border: 0;
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    padding-right: 17px;
  }
}