.checkbox {
	display: flex;
	align-items: center;

	&:not(:last-child) {
		margin-bottom: 15px;

		@media screen and (min-width: 1024px) {
			margin-bottom: 0;
			margin-right: 38px;
		}
	}
	&_image {
		opacity: 0;
		position: absolute;
		width: 0;
		height: 0;
	}
	&_label {
		$checkbox-width:25px;

		font-size: 18px;
		color: #000;
		text-transform: uppercase;
		position: relative;
		padding-left: 19px + $checkbox-width;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%); 
			width: $checkbox-width;
			height: 24px;
			box-sizing: border-box;
			border: 2px solid #ccc;
			border-radius: 2px;

			.checkbox_image:checked + & {
				border-color: $checkbox_color;
			}
		}
		&:after {
			.checkbox_image:checked + & {
				$border_width: 4px;

				content: '';
			    position: absolute;
			    top: 3px;
			    left: 5px;
			    width: 10.5px;
			    height: 5px;
			    border-left: $border_width solid $checkbox_color;
			    border-bottom: $border_width solid $checkbox_color;
			    transform: rotate(-44deg);
			    border-radius: 2px;
			}
		}
	}
}