@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

article,
aside,
audio,
canvas,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
keygen,
menu,
nav,
output,
progress,
section,
source,
video {
  display: block;
  margin: 0; }

body {
  line-height: 1; }

ol,
ul {
  list-style-type: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: normal; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing='0'' in the markup */
table {
  border-spacing: 0;
  border-collapse: collapse; }

td {
  vertical-align: top; }

button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner {
  border: none; }

input,
textarea,
button {
  font-family: inherit; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #4d4d4d;
  font-weight: 400; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  display: inline-block;
  padding-top: 2px;
  color: #767676;
  font-weight: 400; }

::-ms-clear {
  display: none; }

input:-webkit-autofill {
  color: #000 !important; }

body {
  background-color: #ffffff;
  color: #000;
  font-family: 'Roboto', sans-serif; }

.wrapper {
  max-width: 1400px;
  margin: 0 auto; }

img {
  max-width: 100%;
  max-height: 100%; }

a {
  text-decoration: none; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .header_logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 0; }
  .header_navigation {
    position: relative;
    width: 100%; }
    .header_navigation:before {
      content: '';
      position: absolute;
      height: 100%;
      margin: 0 -10000px;
      left: 0;
      right: 0;
      background: #192A81;
      z-index: -1; }
  .header_navigation-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header_navigation-item:not(:last-child) {
    margin-right: 15px; }
    @media screen and (min-width: 768px) {
      .header_navigation-item:not(:last-child) {
        margin-right: 60px; } }
  .header_navigation-link {
    color: #fff;
    font-size: 18px;
    line-height: 72px; }
    .header_navigation-link:hover {
      text-decoration: underline; }

.intro {
  padding-top: 30px; }
  .intro__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .intro__image-wrapper {
    min-width: 557px;
    height: 370px;
    margin-right: 24px; }
  .intro__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .intro__text-wrapper {
    padding: 11px 0 33px 0; }
  .intro__description {
    margin-bottom: 21px;
    color: #000;
    font-size: 24px;
    line-height: 40px; }

.date {
  font-size: 18px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.6); }
