@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

article,
aside,
audio,
canvas,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
keygen,
menu,
nav,
output,
progress,
section,
source,
video {
  display: block;
  margin: 0; }

body {
  line-height: 1; }

ol,
ul {
  list-style-type: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: normal; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing='0'' in the markup */
table {
  border-spacing: 0;
  border-collapse: collapse; }

td {
  vertical-align: top; }

button::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='file'] > input[type='button']::-moz-focus-inner {
  border: none; }

input,
textarea,
button {
  font-family: inherit; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #4d4d4d;
  font-weight: 400; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  display: inline-block;
  padding-top: 2px;
  color: #767676;
  font-weight: 400; }

::-ms-clear {
  display: none; }

input:-webkit-autofill {
  color: #000 !important; }

body {
  background-color: #fff;
  color: #fff;
  font-family: 'Roboto', sans-serif; }

img {
  max-width: 100%;
  max-height: 100%; }

a {
  text-decoration: none; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1; }
  @media screen and (min-width: 768px) {
    .header {
      padding: 40px 64px 0; } }
  .header_logo {
    min-width: 53px; }
  .header_navigation-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header_navigation-item:not(:last-child) {
    margin-right: 15px; }
    @media screen and (min-width: 768px) {
      .header_navigation-item:not(:last-child) {
        margin-right: 60px; } }
  .header_navigation-link {
    min-width: 24px;
    color: #fff;
    font-size: 18px; }
    .header_navigation-link:hover {
      text-decoration: underline; }

.intro {
  background: url(../img/bg_1.jpg) no-repeat center/cover;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative; }
  .intro_title {
    font-size: 28px;
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      .intro_title {
        font-size: 60px; } }
  .intro_description {
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .intro_description {
        font-size: 20px;
        max-width: 600px; } }
  .intro_arrow {
    background: url(../img/arrow_down.png) no-repeat center;
    width: 34px;
    height: 22px;
    position: absolute;
    bottom: 47px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    cursor: pointer; }

.sorting {
  padding: 20px 15px;
  background-color: #f5f6f7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 768px) {
    .sorting {
      padding: 45px 96px; } }
  @media screen and (min-width: 1024px) {
    .sorting {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .sorting_checkbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (min-width: 1024px) {
      .sorting_checkbox {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row; } }
  .sorting_btn {
    padding: 0 11px;
    font-size: 14px;
    line-height: 52px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-color: #aa9b77;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    max-width: 320px;
    margin: 0 auto;
    margin-top: 15px; }
    @media screen and (min-width: 1024px) {
      .sorting_btn {
        max-width: none;
        margin: 0; } }
    .sorting_btn:hover {
      background-color: rgba(170, 155, 119, 0.9); }

.checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .checkbox:not(:last-child) {
    margin-bottom: 15px; }
    @media screen and (min-width: 1024px) {
      .checkbox:not(:last-child) {
        margin-bottom: 0;
        margin-right: 38px; } }
  .checkbox_image {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0; }
  .checkbox_label {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    position: relative;
    padding-left: 44px;
    cursor: pointer; }
    .checkbox_label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 25px;
      height: 24px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: 2px solid #ccc;
      -webkit-border-radius: 2px;
              border-radius: 2px; }
      .checkbox_image:checked + .checkbox_label:before {
        border-color: #aa9b77; }
    .checkbox_image:checked + .checkbox_label:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 5px;
      width: 10.5px;
      height: 5px;
      border-left: 4px solid #aa9b77;
      border-bottom: 4px solid #aa9b77;
      -webkit-transform: rotate(-44deg);
          -ms-transform: rotate(-44deg);
              transform: rotate(-44deg);
      -webkit-border-radius: 2px;
              border-radius: 2px; }

.products {
  padding: 20px 15px; }
  @media screen and (min-width: 768px) {
    .products {
      padding: 80px 96px 186px; } }
  .products_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media screen and (min-width: 768px) {
      .products_list {
        margin-right: -64px; } }
  .products_list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 378px;
    padding: 20px;
    border: 6px solid #f5f6f7;
    background-color: #f5f6f7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .products_list-item:not(:last-child) {
      margin-bottom: 15px; }
      @media screen and (min-width: 768px) {
        .products_list-item:not(:last-child) {
          margin-bottom: 64px; } }
    .products_list-item:hover {
      border-color: #aa9b77; }
    @media screen and (min-width: 450px) {
      .products_list-item {
        width: 48.75%; } }
    @media screen and (min-width: 768px) {
      .products_list-item {
        width: 320px;
        margin-right: 64px; } }
    @media screen and (min-width: 450px) {
      .products_list-item:not(:nth-child(2n+2)) {
        margin-right: 2.5%; } }
    @media screen and (min-width: 768px) {
      .products_list-item:not(:nth-child(2n+2)) {
        margin-right: 64px; } }
  .products_list-link {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .products_list-image {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .products_list-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .products_list-name {
    font-size: 18px;
    color: #aa9b77;
    text-transform: uppercase; }
  .products_list-price {
    color: #000;
    font-size: 22px; }

.select_wrapper {
  position: relative;
  display: inline-block;
  padding-right: 17px; }
  .select_wrapper:after {
    content: '';
    position: absolute;
    right: 17px;
    top: 2px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    width: 8px;
    height: 8px; }

.select_item {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
  padding-right: 17px; }

.social {
  padding: 20px 15px;
  background-color: #535253; }
  @media screen and (min-width: 768px) {
    .social {
      padding: 23px 64px; } }
  .social_link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .social_img {
    margin-right: 20px; }
  .social_text {
    font-size: 16px;
    color: #fff; }

.footer {
  background-color: #424242;
  padding: 20px 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (min-width: 768px) {
    .footer {
      padding: 108px 64px 116px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .footer_title {
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .footer_description {
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
    max-width: 317px; }
  .footer_navigation {
    margin-right: 20px;
    margin-top: 15px; }
    @media screen and (min-width: 768px) {
      .footer_navigation {
        margin-top: 0; } }
  .footer_navigation-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer_navigation-item {
    position: relative; }
    .footer_navigation-item:not(:last-child) {
      margin-right: 12px; }
      .footer_navigation-item:not(:last-child):after {
        content: '';
        position: absolute;
        right: -7px;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        background-color: #94886b;
        width: 2px;
        height: 12px; }
  .footer_navigation-link {
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff; }
    .footer_navigation-link:hover {
      text-decoration: underline; }
  .footer_copyright {
    font-size: 18px;
    line-height: 28px; }
    @media screen and (min-width: 768px) {
      .footer_copyright {
        text-align: right; } }
