<% var data = {
title: "Заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="main">
    <section class="content-page">
        <nav class="bread-crumbs">
            <ul class="bread-crumbs__list">
                <li class="bread-crumbs__item">
                    <a href="" class="bread-crumbs__link">Главная /</a>
                </li>
                <li class="bread-crumbs__item">
                    <a href="" class="bread-crumbs__link">Внешняя Торговля /</a>
                </li>
                <li class="bread-crumbs__item">
                    <a href="" class="bread-crumbs__link">Экспорт /</a>
                </li>
                <li class="bread-crumbs__item">
                    <a href="" class="bread-crumbs__link">Экспортный потенциал</a>
                </li>
            </ul>
        </nav>
        <h1>Экспортный потенциал</h1>
        <p>Структура белорусской экономики является экспортоориентированной. Доля экспорта в валовом внутреннем продукте (ВВП) традиционно составляет более 50 процентов (по итогам 2016 года – более 60 процентов).</p>
        <p>Стоимостной объем экспорта товаров и услуг Беларуси вырос с 7,6 млрд. долларов США в 2000 году до 29,8 млрд. долларов в 2016 году (почти в 4 раза раза).</p>
        <p><a href="">Экспортная продукция Беларуси</a> разнообразна и насчитывает свыше 1 000 наименований.
            Среди крупнейших экспортируемых товаров – нефтепродукты, калийные и азотные удобрения, металлопрокат и металлокорд, тракторы, грузовые автомобили, автобусы, холодильники и морозильники,
            химические волокна и нити, капролактам, шины, древесина и изделия из нее, мебель, одежда, обувь, молочная и мясная продукция, сахар.
        </p>
        <h2>Внешняя торговля</h2>
        <p><a href="">Экспортная продукция Беларуси</a> разнообразна и насчитывает свыше 1 000 наименований.
            Среди крупнейших экспортируемых товаров – нефтепродукты, калийные и азотные удобрения, металлопрокат и металлокорд, тракторы, грузовые автомобили, автобусы, холодильники и морозильники,
            химические волокна и нити, капролактам, шины, древесина и изделия из нее, мебель, одежда, обувь, молочная и мясная продукция, сахар.
        </p>
        <p><a href="">Экспортная продукция Беларуси</a> разнообразна и насчитывает свыше 1 000 наименований.
            Среди крупнейших экспортируемых товаров – нефтепродукты, калийные и азотные удобрения, металлопрокат и металлокорд, тракторы, грузовые автомобили, автобусы, холодильники и морозильники,
            химические волокна и нити, капролактам, шины, древесина и изделия из нее, мебель, одежда, обувь, молочная и мясная продукция, сахар.
        </p>
        <p>
            <a href="">Версия для печати</a>
        </p>
        <div class="content-page__social">
            <a href="" class="content-page__social-item"><img src="img/content-fb-icon.svg" alt=""></a>
            <a href="" class="content-page__social-item"><img src="img/content-twitter-icon.svg" alt=""></a>
            <a href="" class="content-page__social-item"><img src="img/content-vk-icon.svg" alt=""></a>
        </div>
    </section>

    <%= _.template(require('./../includes/footer.html').default)(data) %>