<% var data = {
title: "Заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

			<main class="main">
				<section class="intro">
					<a href="" class="intro__item">
						<div class="intro__image-wrapper">
							<img src="img/intro-item_img1.png" alt="Встреча" class="intro__image">
						</div>
						<div class="intro__text-wrapper">
							<p class="intro__description">
								О встрече Министра иностранных дел Беларуси В.Макея с заместителем Министра иностранных дел Болгарии
							</p>
							<span class="date date_font-size-19">21 октября 2019</span>
							<span class="intro__item-count">
							1 из 7
						</span>
						</div>
					</a>
				</section>
				<section class="slider-main">
					<a href="" class="slider-main__item">
						<div class="slider-main__wrapper-image">
							<img src="img/intro-item_img1.png" alt="" class="slider-main__img">
						</div>
						<p class="description --padding_24">
							О безвизовом передвижении через пункт пропуска Национальный аэропорт Минск
						</p>
					</a>
					<a href="" class="slider-main__item">
						<div class="slider-main__wrapper-image">
							<img src="img/intro-item_img1.png" alt="" class="slider-main__img">
						</div>
						<p class="description --padding_24">
							О безвизовом передвижении через пункт пропуска Национальный аэропорт Минск
						</p>
					</a>
					<a href="" class="slider-main__item">
						<div class="slider-main__wrapper-image">
							<img src="img/intro-item_img1.png" alt="" class="slider-main__img">
						</div>
						<p class="description --padding_24">
							О безвизовом передвижении через пункт пропуска Национальный аэропорт Минск
						</p>
					</a>
				</section>
				<section class="news">
					<div class="title-menu">
						<h1 class="h1">Новости</h1>
					</div>
					<div class="tabs">
						<div class="tabs__item">
							<input type="radio" id="tab1" name="tab-group" checked class="tabs__item-input">
							<label for="tab1" class="tabs__item-head">МИД</label>
							<input type="radio" id="tab2" name="tab-group" class="tabs__item-input">
							<label for="tab2" class="tabs__item-head">Посольства</label>
							<div class="tabs-content">
								<a href="" class="tabs-content__item">
									<h2 class="tabs-content__head">О встрече заместителя Министра
										иностранных дел Беларуси А.Дапкюнаса с
										Постоянным представителем Программы развития ООН в Беларуси
									</h2>
									<span class="date --small">21 октября 2019</span>
								</a>
								<a href="" class="tabs-content__item">
									<h2 class="tabs-content__head">О совместной с Советом Европы конференции “Заключение, исполнение и толкование международных договоров”
									</h2>
									<span class="date --small">21 октября 2019</span>
								</a>
								<a href="" class="tabs-content__item">
									<h2 class="tabs-content__head">О встрече заместителя Министра
										иностранных дел Беларуси А.Дапкюнаса с
										Постоянным представителем Программы развития ООН в Беларуси
									</h2>
									<span class="date --small">21 октября 2019</span>
								</a>
								<a href="" class="tabs-content__item">
									<h2 class="tabs-content__head">О совместной с Советом Европы конференции “Заключение, исполнение и толкование международных договоров”
									</h2>
									<span class="date --small">21 октября 2019</span>
								</a>
							</div>
							<div class="tabs-content">
								<a href="" class="tabs-content__item">
									<h2 class="tabs-content__head">О встрече заместителя Министра
										иностранных дел Беларуси А.Дапкюнаса с
										Постоянным представителем Программы развития ООН в Беларуси
									</h2>
									<span class="date --small">21 октября 2019</span>
								</a>
								<a href="" class="tabs-content__item">
									<h2 class="tabs-content__head">О совместной с Советом Европы конференции “Заключение, исполнение и толкование международных договоров”
									</h2>
									<span class="date --small">21 октября 2019</span>
								</a>
							</div>
						</div>
					</div>
				</section>

				<%= _.template(require('./../includes/footer.html').default)(data) %>