<% var data = {
title: "Заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="main">
    <section class="content-page">
        <nav class="bread-crumbs">
            <ul class="bread-crumbs__list">
                <li class="bread-crumbs__item">
                    <a href="" class="bread-crumbs__link">Главная /</a>
                </li>
                <li class="bread-crumbs__item">
                    <a href="" class="bread-crumbs__link">Внешняя Торговля /</a>
                </li>
                <li class="bread-crumbs__item">
                    <a href="" class="bread-crumbs__link">Экспорт /</a>
                </li>
                <li class="bread-crumbs__item">
                    <a href="" class="bread-crumbs__link">Экспортный потенциал</a>
                </li>
            </ul>
        </nav>
        <h1>МИД в социальных сетях</h1>
        <div class="contacts">
            <table width="100%" class="contacts__table">
                <tbody>
                    <tr class="contacts__row">
                        <td class="contacts__cell">
                            Twitter
                        </td>
                        <td class="contacts__cell">
                            <a href="mailto:twitter.com/BelarusMID">twitter.com/BelarusMID</a>
                        </td>
                    </tr>
                    <tr class="contacts__row">
                        <td class="contacts__cell">
                            Youtube
                        </td>
                        <td class="contacts__cell">
                            <a href="mailto:youtube.com/user/BelarusMFA">youtube.com/user/BelarusMFA</a>
                        </td>
                    </tr>
                    <tr class="contacts__row">
                        <td class="contacts__cell">
                            Instagram
                        </td>
                        <td class="contacts__cell">
                            <a href="mailto:instagram.com/belarusmfa">instagram.com/belarusmfa</a>
                        </td>
                    </tr>
                    <tr class="contacts__row">
                        <td class="contacts__cell">
                            Facebook
                        </td>
                        <td class="contacts__cell">
                            <a href="mailto:facebook.com/belarusmfa">facebook.com/belarusmfa</a>
                        </td>
                    </tr>
                    <tr class="contacts__row">
                        <td class="contacts__cell">
                            Periscope
                        </td>
                        <td class="contacts__cell">
                            <a href="mailto:periscope.tv/BelarusMFA">periscope.tv/BelarusMFA</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h2 class="contacts__h2">Страны</h2>
            <table width="100%" class="contacts__table _border">
                <tbody>
                    <tr class="contacts__row">
                        <td class="contacts__cell">
                            Посольство/представитель
                        </td>
                        <td class="contacts__cell">
                            Twitter
                        </td>
                        <td class="contacts__cell">
                            Facebook
                        </td>
                        <td class="contacts__cell">
                            Instagram
                        </td>
                        <td class="contacts__cell">
                            Youtube
                        </td>
                    </tr>
                    <tr class="contacts__row">
                        <td class="contacts__cell">
                            Посол Беларуси в Индонезии
                            Валерий Колесник
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-twitter.svg" alt="">
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-facebook.svg" alt="">
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-insta.svg" alt="">
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-youtube.svg" alt="">
                        </td>
                    </tr>
                    <tr class="contacts__row">
                        <td class="contacts__cell">
                            Посол Беларуси в Китае
                            Кирилл Рудый
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-twitter.svg" alt="">
                        </td>
                        <td class="contacts__cell"></td>
                        <td class="contacts__cell"></td>
                        <td class="contacts__cell"></td>
                    </tr>
                    <tr class="contacts__row">
                        <td class="contacts__cell">
                            Посол Беларуси в Швеции
                            Дмитрий Мирончик
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-twitter.svg" alt="">
                        </td>
                        <td class="contacts__cell"></td>
                        <td class="contacts__cell"></td>
                        <td class="contacts__cell"></td>
                    </tr>
                    <tr class="contacts__row">
                        <td class="contacts__cell">
                            Национальный центр маркетинга
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-twitter.svg" alt="">
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-facebook.svg" alt="">
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-insta.svg" alt="">
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-youtube.svg" alt="">
                        </td>
                    </tr>
                    <tr class="contacts__row">
                        <td class="contacts__cell">
                            Австрия
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-twitter.svg" alt="">
                        </td>
                        <td class="contacts__cell"></td>
                        <td class="contacts__cell"></td>
                        <td class="contacts__cell">
                            <img src="img/social-youtube.svg" alt="">
                        </td>
                    </tr>
                    <tr class="contacts__row">
                        <td class="contacts__cell">
                            Азербайджан
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-twitter.svg" alt="">
                        </td>
                        <td class="contacts__cell"></td>
                        <td class="contacts__cell"></td>
                        <td class="contacts__cell"></td>
                    </tr>
                    <tr class="contacts__row">
                        <td class="contacts__cell">
                            Аргентина
                        </td>
                        <td class="contacts__cell"></td>
                        <td class="contacts__cell">
                            <img src="img/social-facebook.svg" alt="">
                        </td>
                        <td class="contacts__cell"></td>
                        <td class="contacts__cell"></td>
                    </tr>
                    <tr class="contacts__row">
                        <td class="contacts__cell">
                            Бельгия
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-twitter.svg" alt="">
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-facebook.svg" alt="">
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-insta.svg" alt="">
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-youtube.svg" alt="">
                        </td>
                    </tr>
                    <tr class="contacts__row">
                        <td class="contacts__cell">
                            Болгария
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-twitter.svg" alt="">
                        </td>
                        <td class="contacts__cell">
                            <img src="img/social-facebook.svg" alt="">
                        </td>
                        <td class="contacts__cell"></td>
                        <td class="contacts__cell"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <%= _.template(require('./../includes/footer.html').default)(data) %>