<% var data = {
title: "Заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="main">
    <section class="content-page">
        <nav class="bread-crumbs">
            <ul class="bread-crumbs__list">
                <li class="bread-crumbs__item">
                    <a href="" class="bread-crumbs__link">Главная /</a>
                </li>
                <li class="bread-crumbs__item">
                    <a href="" class="bread-crumbs__link">Новости</a>
                </li>
            </ul>
        </nav>
        <h1>О встрече Министра иностранных дел Беларуси В.Макея с заместителем Министра иностранных дел Болгарии</h1>
        <span class="date _big">21 октября 2019</span>
        <div class="content-page__wrapper-image">
            <img class="content-page__image" src="img/content-main-img.png" alt="">
        </div>
        <p class="content-page__description">11 сентября 2019 г. Министр иностранных дел Республики Беларусь Владимир Макей провел встречу с заместителем Министра иностранных дел Республики Болгария Петко Дойковым в ходе визита болгарской делегации в Беларусь, который проходит 10-12 сентября 2019 г.</p>
        <p>Структура белорусской экономики является экспортоориентированной. Доля экспорта в валовом внутреннем продукте (ВВП) традиционно составляет более 50 процентов (по итогам 2016 года – более 60 процентов).</p>
        <p>Стоимостной объем экспорта товаров и услуг Беларуси вырос с 7,6 млрд. долларов США в 2000 году до 29,8 млрд. долларов в 2016 году (почти в 4 раза раза).</p>
        <p><a href="">Экспортная продукция Беларуси</a> разнообразна и насчитывает свыше 1 000 наименований.
            Среди крупнейших экспортируемых товаров – нефтепродукты, калийные и азотные удобрения, металлопрокат и металлокорд, тракторы, грузовые автомобили, автобусы, холодильники и морозильники,
            химические волокна и нити, капролактам, шины, древесина и изделия из нее, мебель, одежда, обувь, молочная и мясная продукция, сахар.
        </p>
        <h2>Внешняя торговля</h2>
        <p><a href="">Экспортная продукция Беларуси</a> разнообразна и насчитывает свыше 1 000 наименований.
            Среди крупнейших экспортируемых товаров – нефтепродукты, калийные и азотные удобрения, металлопрокат и металлокорд, тракторы, грузовые автомобили, автобусы, холодильники и морозильники,
            химические волокна и нити, капролактам, шины, древесина и изделия из нее, мебель, одежда, обувь, молочная и мясная продукция, сахар.
        </p>
        <p><a href="">Экспортная продукция Беларуси</a> разнообразна и насчитывает свыше 1 000 наименований.
            Среди крупнейших экспортируемых товаров – нефтепродукты, калийные и азотные удобрения, металлопрокат и металлокорд, тракторы, грузовые автомобили, автобусы, холодильники и морозильники,
            химические волокна и нити, капролактам, шины, древесина и изделия из нее, мебель, одежда, обувь, молочная и мясная продукция, сахар.
        </p>
        <p>
            <a href="">Версия для печати</a>
        </p>
        <div class="content-page__social">
            <a href="" class="content-page__social-item"><img src="img/content-fb-icon.svg" alt=""></a>
            <a href="" class="content-page__social-item"><img src="img/content-twitter-icon.svg" alt=""></a>
            <a href="" class="content-page__social-item"><img src="img/content-vk-icon.svg" alt=""></a>
        </div>
    </section>

    <%= _.template(require('./../includes/footer.html').default)(data) %>