<% var data = {
title: "Заголовок | Проект",
author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<main class="main">
    <section class="content-page-without_style">
        <nav class="bread-crumbs">
            <ul class="bread-crumbs__list">
                <li class="bread-crumbs__item">
                    <a href="" class="bread-crumbs__link">Главная /</a>
                </li>
                <li class="bread-crumbs__item">
                    <a href="" class="bread-crumbs__link">Внешняя Торговля /</a>
                </li>
                <li class="bread-crumbs__item">
                    <a href="" class="bread-crumbs__link">Экспорт /</a>
                </li>
                <li class="bread-crumbs__item">
                    <a href="" class="bread-crumbs__link">Экспортный потенциал</a>
                </li>
            </ul>
        </nav>
        <h1>Видео</h1>
        <div class="video-block">
            <a href="" class="video-block__item">
                <div class="video-block__wrapper-image">
                    <img src="img/content-main-img.png" alt="">
                </div>
                <p class="video-block__text">Дипломатия Беларуси. Становление и развитие (фильм второй)</p>
            </a>
            <a href="" class="video-block__item">
                <div class="video-block__wrapper-image">
                    <img src="img/content-main-img.png" alt="">
                </div>
                <p class="video-block__text">Дипломатия Беларуси. Становление и развитие (фильм второй)</p>
            </a>
            <a href="" class="video-block__item">
                <div class="video-block__wrapper-image">
                    <img src="img/content-main-img.png" alt="">
                </div>
                <p class="video-block__text">Дипломатия Беларуси. Становление и развитие (фильм второй)</p>
            </a>
            <a href="" class="video-block__item">
                <div class="video-block__wrapper-image">
                    <img src="img/content-main-img.png" alt="">
                </div>
                <p class="video-block__text">Дипломатия Беларуси. Становление и развитие (фильм второй)</p>
            </a>
            <a href="" class="video-block__item">
                <div class="video-block__wrapper-image">
                    <img src="img/content-main-img.png" alt="">
                </div>
                <p class="video-block__text">Дипломатия Беларуси. Становление и развитие (фильм второй)</p>
            </a>
            <a href="" class="video-block__item">
                <div class="video-block__wrapper-image">
                    <img src="img/content-main-img.png" alt="">
                </div>
                <p class="video-block__text">Дипломатия Беларуси. Становление и развитие (фильм второй)</p>
            </a>
            <a href="" class="video-block__item">
                <div class="video-block__wrapper-image">
                    <img src="img/content-main-img.png" alt="">
                </div>
                <p class="video-block__text">Дипломатия Беларуси. Становление и развитие (фильм второй)</p>
            </a>
            <a href="" class="video-block__item">
                <div class="video-block__wrapper-image">
                    <img src="img/content-main-img.png" alt="">
                </div>
                <p class="video-block__text">Дипломатия Беларуси. Становление и развитие (фильм второй)</p>
            </a>
        </div>
        <a href="" class="more-button">Показать еще</a>
    </section>

    <%= _.template(require('./../includes/footer.html').default)(data) %>