<!DOCTYPE html>
<html ng-app="testTask">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0;" class="">
	    <meta name="viewport" content="target-densitydpi=device-dpi">
	    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
        <title>Project</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="js/main.js"></script>
    	<script src="js/app.js"></script>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header class="header">
        	<span class="header_logo"> <!-- span сделан для того, чтобы при необходимости заменить на ссылку -->
        		<img class="header_logo-img" src="img/logo.png" alt="">
        	</span>
			<nav class="header_navigation">
				<ul class="header_navigation-list">
					<li class="header_navigation-item">
						<a href="" class="header_navigation-link">Home</a>
					</li>
					<li class="header_navigation-item">
						<a href="" class="header_navigation-link">Products</a>
					</li>
					<li class="header_navigation-item">
						<a href="" class="header_navigation-link">
							<img src="img/cart.png" alt="" class="header_navigation-img">
						</a>
					</li>
				</ul>
			</nav>
        </header>
        <main class="main" ng-controller="productsCtrl">
        	<section class="intro">
        		<h1 class="intro_title">Our clothing, your comfort</h1>
        		<p class="intro_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        		</p>
        		<div class="intro_arrow"></div>
        	</section>
        	<section class="sorting">
        		<div class="sorting_checkbox">
        			<div for="" class="checkbox">
        				<input type="checkbox" id="checkbox_men" class="checkbox_image" ng-model="showCategory['men']" >
        				<label class="checkbox_label" for="checkbox_men">MEN</label>
        			</div>
        			<div for="" class="checkbox">
        				<input type="checkbox" id="checkbox_women"  class="checkbox_image" ng-model="showCategory['women']">
        				<label class="checkbox_label" for="checkbox_women">women</label>
        			</div>
        			<div for="" class="checkbox">
        				<input type="checkbox" id="checkbox_child" class="checkbox_image" ng-model="showCategory['child']">
        				<label class="checkbox_label" for="checkbox_child">childRobotoren</label>
        			</div>
        		</div>
        		<button class="sorting_btn" ng-click="showCategory = {}" >see all prodRobotoucts</button>
        	</section>
        	<section class="products">
        		<div class="products_list">
        			<div class="products_list-item" type="{{item.type}}" ng-repeat="item in users | filter : filterByCategory">
        				<div class="select">
        					<div class="select_wrapper">
		        				<select class="select_item">
									<option value="" ng-repeat="size in item.options">{{size}}</option>
		        				</select>
	        				</div>
        				</div>
        				<a href="" class="products_list-link">
        					<span class="products_list-image">
        						<img src="img/{{item.img}}.png" alt="">
        					</span>
	        				<p class="products_list-bottom">
	        					<span class="products_list-name">{{item.name}}</span>
	        					<span class="products_list-price">{{item.price}}€</span>
	        				</p>
        				</a>
        			</div>
        		</div>
        	</section>
        	<section class="social">
        		<a href="" class="social_link">
        			<img src="img/twitter.png" alt="" class="social_img">
        			<span class="social_text">“ E-commerce psd theme available ”</span>
        		</a>
        	</section>
        </main>
        <footer class="footer">
        	<div class="footer_trekking">
        		<h2 class="footer_title">Trekking</h2>
        		<p class="footer_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        	</div>
        	<nav class="footer_navigation">
        		<ul class="footer_navigation-list" ng-controller="menuCtrl">
					<li class="footer_navigation-item" ng-repeat="item in data.footerMenu">
						<a href="{{item.link}}" name="{{item.name}}" class="footer_navigation-link">{{item.title}}</a>
					</li>
				</ul>
				<p class="footer_copyright">Design by gianluca cosetta</p>
        	</nav>
        </footer>
    </body>
</html>